<div class="Menu">
  <div class="title">
    <h1>Test Builder</h1>
  </div>
  <div class="menu-select">
        <img
          src="assets/icons/CreateIcon.png"
          (click)="handleControlBtnClick('add')"
          alt="Create element Icon."
        />
        <img
          src="assets/icons/BuildIcon.png"
          alt="Save Icon."
        />
        <img
          src="assets/icons/InfoIcon.png"
          (click)="handleInfoBtnClick()"
          alt="Info Icon."
        />
  </div>
</div>