<div class="Menu">
  <div class="title">
    <img src="assets/icons/TestBuilderIcon.png" alt="Main Icon"> <h1>Test Builder</h1>
  </div>
  <div class="menu-select">
        <img
          src="assets/icons/CreateIcon.png"
          (click)="handleControlBtnClick('add')"
          alt="Create element Icon."
        />
        <img
          src="assets/icons/SaveIcon.png"
          (click)="handleBuild()"
          alt="Save Icon."
        />
        <img
          src="assets/icons/CopyIcon.png"
          (click)="handleCopy()"
          alt="Save Icon."
        />
        <img
          src="assets/icons/InfoIcon.png"
          (click)="handleInfoBtnClick()"
          alt="Info Icon."
        />
  </div>
 
</div>