<div class="Menu">
        <label for="Math">Mathematics</label>
      <div class="menu-section">
        <img
          src="assets/icons/AddIcon.png"
          (click)="handleControlBtnClick('add')"
          alt="Addition Icon. Plus sign"
        />
        <img
          src="assets/icons/SubtractionIcon.png"
          (click)="handleControlBtnClick('sub')"
          alt="Addition Icon. Plus sign"
        />
        <img
          src="assets/icons/MultiplicationIcon.png"
          (click)="handleControlBtnClick('mult')"
          alt="Addition Icon. Plus sign"
        />
        <img
          src="assets/icons/DivisionIcon.png"
          alt="Addition Icon. Plus sign"
        />
        <img
          src="assets/icons/FractionIcon.png"
          alt="Addition Icon. Plus sign"
        />
      </div>
      <hr />
        <label for="Text">Text</label>
      <div class="menu-section">
        <img
          src="assets/icons/ShortIcon.png"
          alt="Addition Icon. Plus sign"
        />
        <img
          src="assets/icons/LongIcon.png"
          alt="Addition Icon. Plus sign"
        />
      </div>
    </div>