.wrapper {
  width: 220px;
  height: 120px;
  background: var(--color-tint);
  border-radius: 0.5rem;
  box-shadow: 5px 5px var(--color-primary);
}
.menu {
  height: 30px;
  padding-top: 3px;
  border-bottom: 2px solid var(--color-secondary);
  text-align: right;
  img {
    padding-right: 12px;
    width: 25px;
    height: 25px;
  }
}

.problem-form {
  text-align: center;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
  h4 {
    font-size: 20pt;
  }
  p {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20pt;
  }
  input {
    height: 44px;
    width: 70px;
  }
}

.question-form {
  text-align: center;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
  .question {
  }
}

.addition {
  background: #92f7b0;
}

.subtraction {
  background: #a07de2;
}
.division {
  background: #94f2f5;
}
.multiplication {
  background: #fc97e6;
}

.text {
  background: #f1c58b;
}
