.Assembler {
  width: 95%;
  height: 700px;
  margin: 0 auto;
  margin-top: 24px;
  padding: 20x;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 12px;
}
