<div class="Info-Modal">
<h1>INFO</h1>
<div class="info-modal-body">
    <ol>
        <li><em>To create an element</em> click on the Create Button. This will open up a popup where you can choose a Math problem, a Fraction problem or a Text/Paragraph problem.</li>
        <li><em>To save to a .txt file</em> click on the Build Button. This will save the file to your documents under the folder TextBuilderDocs.</li>
    </ol>
  </div>
  <button (click)="handleOnClose()">
        <img
          src="assets/icons/CloseIcon.png"
          alt="Info Icon."
        />
  </button>
</div>